.logado p,
.deslogado p {
  font-size: 24px;
}
.logado p span {
  font-weight: 700;
  color: #c481f5;
}
.logado button,
.deslogado button {
  width: 80px;
  height: 70px;
  border-radius: 50%;
  border: 3px outset indigo;
  box-shadow: 0px 0px 11px 3px #464671;
  color: indigo;
  font-size: 20px;
  font-weight: 700;
}
.logado button:active,
.deslogado button:active {
  border-style: double;
}
